* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

body {
    background-color: var(--color5);
    font-family: 'Open Sans';
}

:root {
    --color1: #0E85FF;
    --color2: #FFFFFF;
    --color3: #787E8C;
    --color4: #f5f7fb52;
    --success: #CBF3DC;
    --color5: #FAFAFA;
    --sideBar: #2892FF;
    --topBar: #f5f7fb;
    --active: #FFA043;
    --color6: #3C4857;
    --bodyMargin: 0 12%;
}